@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* ELEMENTS */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    font-size: 48px;
    font-weight: bold;
    margin: 0;
}
a {
    text-decoration: none;
    color: #e5e7eb;
    margin-left: 1em;
    font-size: 18px;
}
button {
    margin: 0.5em 0;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bold;
    color: #f9faf8;
    border: none;
    padding: 0.5em 1em;
    border-radius: 0.5em;
}
p {
    margin: 0.5em 0;
}
/* CLASSES */

.container {
    display: flex;
    flex-direction: column;
}
.header, .footer {
    background-color: #1F2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding-bottom: 6em;
}
.hero {
    display: flex;
    width: 80%;
    justify-content: space-between;
    padding-bottom: 5em;
}
.text p {
    color: #e5e7eb;
    font-size: 18px;
}
.text {
    padding-right: 2em;
}
.picture {
    background-color: grey;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
}
.icons {
    text-align: center;
    padding-bottom: 5em;
}
.icons h2 {
    color: #1f2937;
    font-size: 36px;
}
.elements {
    display: flex;
    justify-content: center;
}
.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    padding: 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote p {
    width: 70%;
}
.author {
    text-align: right;
    font-weight: bold;
    font-style: normal;
}
.element {
    width: 150px;
    margin: 0 2em;
}
.icon {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 0.5em;
}
.CTA-container {
    display: flex;
    justify-content: center;
    padding: 4em;
}
.CTA {
    background-color: #3882f6;
    color: #f9faf8;
    width: 70%;
    border-radius: 0.5em;
    padding: 2em 4em;
    display: flex;
    justify-content: space-around;
}
.CTA button {
    border: 1px solid #f9faf8;
}